@import url('https://fonts.googleapis.com/css?family=Goudy+Bookletter+1911&display=swap');

body {
    background-color: #4cada7;
    font-family: 'Goudy Bookletter 1911', serif;
}

.container {
    min-width: 300px;
    max-width: 1000px;
    
    margin: 0 auto;
    margin-bottom: 20px;
    padding: 0 10px;
}

.header {
    position: relative;
    display: flex;
    flex-direction: row;
    border-bottom: 2px solid #fff;
    padding: 0;
    margin-bottom: 20px;
}

.header h2 {
    color: #ffffff;
    font-size: 30px;
    margin: 10px 0;
}

.dropdown-sort {
    position: absolute;
    top: 15px;
    right: 0;
    display: inline-block;
}

.dropdown-sort span {
    color: #fff;
    font-weight: bold;
    font-size: 18px;
    margin: 0;
}

.dropdown-btn {
    min-width: 90px;
    padding:  0 4px;
    color: #fff;
    font-size: 18px;
    background-color: #4cada7;
}

.dropdown-content {
    position: absolute;
    right: 5px;
    width: 90px;
    background-color: #4cada7;
    z-index: 1;
    visibility: hidden;
    opacity: 0;
    transition: visibility 0s, opacity 0.25s linear;
}

.dropdown-content a {
    display: block;
    padding: 5px;
    color: #FFF;
    font-weight: bold;
    text-decoration: none;
    border: 2px solid #b0f0f0;
}

.dropdown-content a:hover {
    color: #000;
    background-color: #fff;
}

.dropdown-btn:hover {
    color: #000;
}

.dropdown-sort:hover .dropdown-content {
    opacity: 1;
    visibility: visible;
}

.dropdown:hover .dropdown-btn {
    background-color: #4cada7;
}

.content {
    display: flex;
    flex-direction: row;
}

button {
    background-color: #cefff88a;
    border: 2px solid #ffffff9a;
    border-radius: 3px;
    outline: none;

    font-family: 'Goudy Bookletter 1911', serif;
    font-weight: bold;
    font-size: 14px;

    margin: 5px;
    padding: 6px;
}

button:hover {
    background-color: #ffffff;
}

button:active {
    background-color: #b4b4b4;
}

.new-container {
    width: 20%;
    margin: 0;
    margin-right: 15px;
}

.new-btn {
    width: 100%;
    height: 30px;

    margin: 0;
    padding: 5px 0;
    outline: none;
}

.rmv-btn:hover, .cancel-btn:hover {
    color: #fff;
    background-color: #fd4e4e;
    border: 2px solid #ff6c6c;
}

.rmv-btn:active, .cancel-btn:active {
    color: #fff;
    background-color: #c54444;
}

.form-group {
    max-width: 100%;
    margin: 0;
}

.form-group input {    
    margin: 0;
    margin-bottom: 5px;
    max-width: 95%;
    padding: 5px;
    border: 2px solid #727272;
    border-radius: 3px;
}

.form-group span {
    margin-right: 5px;
}

.submit-btn {
    margin: 10px 0;
}

.cancel-btn {
    margin: 0;
}

.book-container {
    width: 78%;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
}

.book {
    padding: 15px;
    background-color: #a0ffef4d;
    border: 2px solid #77bec0;
    border-radius: 3px;   
    text-align: center;
    height: 225px;

    position: relative;
}

.book h2 {
    font-size: 24px;
    margin: 0;
}

.book h3 {
    font-size: 22px;
    margin: 8px 0;
}

.book p {
    font-size: 18px;
    margin: 5px auto;
    margin-bottom: 10px;
}

.read {
    border: 2px solid #b0f0f0;
}

.tg-btn, .rmv-btn {
    position: absolute;
    bottom: 7px;
}

.tg-btn {
    left: 5px;
}

.rmv-btn {
    right: 5px;
}

.empty-message {
    grid-column-start: 1;
    grid-column-end: 4;
    width: 100%;
    text-align: center;
}

.empty-message h3 {
    font-size: 30px;
    color: #fff;
}

details {
    display: block;
    position: absolute;
    bottom: 10px;
    left: 10px;
}

summary {
    color: #fff;
    text-decoration: none;
}

@media(max-width: 780px) {
    .content {
        flex-direction: column;
    }

    .new-container {
        position: relative;
        width: 100%;
        margin-bottom: 20px;
    }

    .form-group {
        display: flex;
        flex-direction: row;
    }

    .form-group input {
        width: 50%;
        margin: 0;
        margin-right: 10px;
    }

    .form-group span {
        width: 35%;
    }

    .form-group input[type='checkbox'] {
        margin-top: 5px;
        width: 10%;
    }

    .book-container {
        width: 100%;
        grid-template-columns: repeat(2, 1fr);
    }

    details {
        position: static;
    }
}

@media(max-width: 540px) {
    .new-container {
        width: 100%;
        text-align: center;
    }

    .form-group {
        display: block;
        text-align: center;
    }

    .form-group input {
        width: 100%;
        margin: 0 auto;
        margin-bottom: 10px;
    }

    .form-group span {
        padding-left: 20px;
        width: 50%;
    }

    .form-group input[type='checkbox'] {
        margin-top: 5px;
        margin: 0;
        width: 10%;
    }

    .book-container {
        grid-template-columns: 1fr;
    }

    .book {
        height: 200px;
    }
}