@import url('https://fonts.googleapis.com/css?family=Staatliches&display=swap');

* {
    outline: none;
    user-select: none;
}

body {
    background-color: #FEFFE5;
    color: #383838;
    font-family: 'Staatliches', cursive;
}

.info {
    position: fixed;
    top: 20px;
    left: 30px;
}

.info h2 {
    margin: 0;
    margin-bottom: 5px;

    font-size: 36px;
    font-weight: normal;
}

.info p {
    margin: 0;
}

.info ul {
    padding: 0;
    padding-left: 10px;
    margin: 0;
}

.theme {    
    cursor: pointer;

    margin-right: 5px;

    list-style: none;

    font-size: 24px;
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    
    max-width: 1200px;
    margin: auto;
    
    padding: 150px 0;
}

.timestamps-group {
    position: absolute;
    top: 10%;
    
    margin: 0 auto;
    padding: 0;
}

.timestamps-group li, .controllers-group li {
    display: inline-block;
    
    margin: 0 10px;
    
    list-style: none;
}

.timestamp {
    cursor: pointer;
}

p {
    margin: 10px auto;
    
    font-size: 30px;
}

.timer-container {
    position: relative;

    width: 300px;
    min-width: 300px;
    height: 300px;
    padding: 20px;
    margin: auto;
    
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    
    border: 10px solid #383838;
    border-radius: 50%;
    
    background-color: #FEFFE5;
}

#timer {
    position: absolute;
    top: 30%;

    margin: 0px auto;
    font-size: 112px;
    font-weight: lighter;
}

.controllers-group {
    position: absolute;
    top: 70%;

    margin: 0 auto;
    padding: 0;
}

.controllers-group li {
    width: 50px;
}

.controller {
    cursor: pointer;
}

#play-pause {
    width: 52px;
    height: 52px;
}

#stop {
    width: 52px;
    height: 52px;
}