* {
    margin: 0;
    padding: 0;
    outline: 0;
    box-sizing: border-box;
}

html {
    overflow-y: scroll;
}

body {
    color: #CCC;
    background: #0a0a0a;
    -webkit-font-smoothing: antialiased;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

span {
    margin-bottom: 5px;
    text-align: left;
    font-weight: bold;
}

input, textarea {
    padding: 8px;
    background: #DDD;
    border: none;
    border-radius: 2px;
    margin-bottom: 10px;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

input[type="checkbox"] {
    cursor: pointer;
}

textarea {
    resize: vertical;
    max-height: 170px;
    min-height: 32px;
}

input:focus, textarea:focus {
    background: #E5E5E5;
}

button, .button {
    cursor: pointer;
    text-decoration: none;
    text-align: center;
    padding: 7px 10px;
    color: #DDD;
    font-size: 1em;
    font-weight: bold;
    background-color: #484848;
    border: none;
    border-radius: 3px;
    transition: 0.1s ease;
}

button:hover, .button:hover {
    background-color: #da783b;
}

.container {
    width: 550px;
    min-height: 100vh;
    margin: auto;
    position: relative;
    background: #131313;
}

.link {
    color: #CCC;
    font-weight: bold;
    text-decoration: none;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.link:hover {
    color: #da783b;
}

.profile-info {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 2px solid #333;
    padding-bottom: 10px;
    margin-bottom: 30px;
}

.profile-info h2 {
    font-size: 2em;
    font-weight: bold;
}

.profile-btns {
    width: 35%;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 10px;
}

::-webkit-scrollbar {
    width: 10px;
}
  

::-webkit-scrollbar-track {
    background: #222;
}


::-webkit-scrollbar-thumb {
    background: #333;
}


::-webkit-scrollbar-thumb:hover {
    background: #484848;
}